<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
<h1>Sign Up</h1>

<br><br>
<form action='/signup' method="POST">
  <label>Email: </label>
  <input type="email" name="email">
  <br>

  <label>Password: </label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" value="Sign Up">
</form>
