<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
<h2>Edit a Meal</h2>

<form action="/meals/<%= @meal.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name(s) of Food: </label>
  <input type="text" name="name" value="<%= @meal.name %>">
  <br>

  <label>Total Calories: </label>
  <input type="number" name="calories" value="<%= @meal.calories %>">
  <br><br>

  <input type="submit" value="Edit Meal">

</form>
