<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
<h2>Add a Meal</h2>

<form action='/meals' method="POST">
  <label>Name(s) of Food: </label>
  <input type="text" name="name">
  <br>

  <label>Total Calories: </label>
  <input type="number" name="calories">
  <br>

  <label>Select Log Date: </label>
  <%Log.all.each do |log|%>
    <input type="radio" name="log_id" id="<%= log.date %>" value="<%=log.id%>"> <%=log.date%></input>
  <%end%>
  <br><br>

  <input type="submit" value="Add New Entry">
</form>
