<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">

<h2>Edit an Entry</h2>

<%= flash[:notice] %>
<br>

<form action="/logs/<%= @log.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Date: </label>
  <input type="text" name="date" value="<%= @log.date %>">
  <br><br>

  <input type="submit" value="Edit Log Entry">
</form>

<form align="right" action='/logout' name="logout" method="GET">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>
