<h1>Edit an Entry</h1>

<form action="/logs/<%= @log.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Date: </label>
  <input type="text" name="date" value="<%= @log.date %>">
  <br>

  <input type="submit" value="Edit Log Entry">

</form>
