<h2>Welcome, <%= @user.email %></h2>
<h3>A list of your recent logs:</h3>

<% Log.all.each do |log| %>
  <ul>
    <li><a href="/logs/<%= log.id %>"><%= log.date %></a></li>
  </ul>
<% end %>

<form align="right" action='/logout' name="logout" method="GET">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>
