<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">

<h2>Welcome, <%= @user.email %></h2>

<div class='flash'>
  <%= flash[:notice] %>
</div>
<br><br>

<h3>A list of your recent logs:</h3>

<% Log.all.each do |log| %>
  <% if @user.logs.include?(log) %>
    <ul>
      <li><a href="/logs/<%= log.id %>"><%= log.date %></a></li>
      <br>
    </ul>
  <% end %>
<% end %>
<br>

<form action="/logs/new" method="GET">
  <input type="submit" value="Add New Log">
</form>

<form align="right" action='/logout' name="logout" method="GET">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>
