<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">

<h2>Add an Entry</h2>

<div class='flash'>
  <%= flash[:notice] %>
</div>
<br><br>

<form action='/logs' method="POST">
  <label>Date: </label>
  <input type="text" name="date">
  <br><br>

  <input type="submit" value="Add New Log">
</form>
