<div class="container">
  <header><img src="images/FoodDiary-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Food Diary</h2>

    <div class="content">
      <p>Welcome to the Food Diary!</p>
      <p>Use this app to track your daily meals and calorie intake.</p>
      <p><b>Please Sign Up </b> <a href='/signup'>Here</a></p>
      <p><b>Please Log In </b> <a href='/login'>Here</a></p>
    </div>

    <div class="sidebar">
      <h5>Benefits of Keeping Track of Your Meals:</h5>
      <ul>
        <li>Shows you what you're eating</li>
        <li>Helps with weight-loss</li>
        <li>Practice self control, keep you on track</li>
        <li>Show you what nutrients are missing from your daily intake</li>
      </ul>
    </div>

  </div>
</div>
